@{
    ViewData["Title"] = "About Us";
}

<div class="row tm-row tm-mb-45">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <img src="~/images/about-01.jpg" alt="Image" class="img-fluid">
    </div>
</div>
<div class="row tm-row tm-mb-40">
    <div class="col-12">
        <div class="mb-4">
            <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">About the eBlog</h2>
            <p>
                This project is a straightforward blog platform developed using ASP.NET Core, MVC, and Entity Framework Core. 
                It provides basic yet essential functionalities for users, allowing them to sign up or log in using Identity Framework for authentication.
            </p>
            <p>
                Users can seamlessly create, view, and comment on posts within the system. The platform's simplicity ensures an uncomplicated experience for both writers and readers. 
                The inclusion of a search bar facilitates easy navigation, enabling users to find specific posts efficiently.
            </p>
            <p>
                In essence, this project serves as a practical foundation for a functional blog environment, emphasizing functionality over elaborate features.
            </p>
        </div>
    </div>
</div>