<div class="row">
    <div class="col-md-6 offset-3 alert alert-info text-center">
        <h2>Welcome to eBlog!</h2>
        <p>You need to be logged in first in order to complete this action.</p>
        <hr />
        <div class="btn-group">
            <a asp-controller="Users" asp-action="LogIn" class="btn btn-primary">  Log In  </a>
            <a asp-controller="Users" asp-action="SignUp" class="btn btn-success">  Sign Up  </a>
        </div>
    </div>
</div>